.userdashboard {
  background-color: rgb(238 226 239 / 78%);

  .userBanner {
    background-color: rgb(238 226 239 / 78%);

    margin: auto;
    border-radius: 6px;
    height: 83vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
      rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    margin-top: 68px;
    display: flex;
    flex-direction: column;
    padding-block: 27px;
    align-items: center;
    justify-content: center;

    .avatar {
      // border: 2px solid;
      width: 22%;
      height: 52vh;
      position: relative;
      .user {
        position: absolute;
        top: -60px;
        left: -20px;
        width: 97%;
        // border: 2px solid red;
        img {
          height: 323px;
        }
        // color: #c791f6;
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      font-size: 20px;
      font-weight: 700;
      color: #9200ab;
      row-gap: 29px;
      .up {
        display: flex;
        // column-gap: 231px;
        justify-content: space-between;
        .left {
          display: flex;
          column-gap: 9px;
        }
        .right {
          display: flex;
          column-gap: 9px;
        }
      }
      .middel {
        display: flex;
        column-gap: 40px;
        align-items: center;
        justify-content: space-around;
        .left {
          display: flex;
          column-gap: 9px;
        }
        .right {
          display: flex;
          column-gap: 9px;
        }
      }
      .down {
        display: flex;
        justify-content: space-between;
        .left,
        .right {
          button {
            background-image: linear-gradient(210deg, #9733ee 0%, #da22ff 100%);
            border-radius: 6px 6px 6px 6px;
            padding-inline: 39px;
            padding-block: 9px;
            border: none;
            outline: none;
            cursor: pointer;
            color: #fff;
            font-size: 19px;
          }
        }
      }
    }
  }
}
