.exhibitionEvent {
  .navbar {
    height: 74px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
  }
  .categoryTitle {
    position: relative;
    .image {
      width: 100%;
      height: 207px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        max-height: 113%;
        width: 100%;
        object-fit: cover;
      }
    }
    h1 {
      color: aliceblue;
      position: absolute;
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      top: 39%;
      left: 44%;
    }
    &::after {
      content: "";
      position: absolute;
      top: -14px;
      left: 0;
      width: 100%;
      height: 113%;
      background-color: #d70000;
      opacity: 0.7;
    }
  }
  .allExhibitionEventcards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 26px;
    width: 100%;
    padding-block: 60px;
    padding-inline: 20px;
    .title {
    }
    .card {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding-bottom: 20px;
      font-family: "Roboto", sans-serif;
      font-weight: 800;
      background: #ffff;
      transition: all 1s;
      height: 100%;
      &:hover {
        transform: scale(1.1);
        cursor: pointer;
        border-radius: 10px;
      }
      .imagesection {
        position: relative;

        //   border: 2px solid red;
        img {
          width: 100%;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
          height: 178px;
        }
        .date {
          position: absolute;
          top: 10px;
          left: 10px;
          ul {
            li {
              padding-inline: 10px;
              &:first-child {
                color: aliceblue;
                //   border: 2px solid;
                background: rgb(218, 178, 1);
                text-align: center;
              }
              &:last-child {
                color: aliceblue;
                background: rgb(131, 28, 28);
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .title_Price {
        //   border: 2px solid;
        position: relative;
        padding-inline: 25px;
        &::before {
          content: "";
          position: absolute;
          border: 2px solid brown;
          height: 50px;
          left: 10px;
        }
        .title {
          text-align: left;
          padding-bottom: 10px;
        }
        .price {
          color: brown;
          span {
            display: flex;
            align-items: center;
          }
        }
      }
      .location {
        display: flex;
        align-items: center;
        padding-inline: 20px;
        color: brown;
        span {
          padding-left: 13px;
          color: rgb(43, 41, 41);
        }
      }
      .timming {
        display: flex;
        align-items: center;
        padding-inline: 20px;
        color: brown;
        text-transform: capitalize;
        span {
          padding-left: 10px;
          color: rgb(43, 41, 41);
        }
      }
    }
  }
}
