.MusicDetailsPage {
  // filter: blur(10px);
  background-color: #fef9ff;

  .musicRelatedContent {
    display: flex;
    column-gap: 39px;
    margin-top: 72px;
    .leftContent {
      width: 70%;
      //   border: 2px solid;
      margin-left: 61px;
      .title {
        font-size: 33px;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 14px;
        color: rgba(62, 6, 61, 0.831372549);
      }
      .img {
        img {
          width: 100%;
        }
      }
      .eventInfo {
        // border: 2px solid red;
        display: flex;
        justify-content: space-between;
        margin-block: 21px;
        .eventDate {
          //   border: 2px solid;
          display: flex;
          align-items: center;
          width: 32%;
          background: #e7e7e7;
          padding-inline: 5px;
          padding-block: 9px;
          column-gap: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          background: rgb(253 246 254);
          color: #3e063dd4;
          border-radius: 4px;
          .icon {
            // border: 2px solid;
            border-radius: 50px;
            width: 45px;
            height: 46px;
            display: flex;
            font-size: 31px;
            align-items: center;
            justify-content: center;
            background: rgb(194 169 194 / 83%);
            color: rgba(62, 6, 61, 0.831372549);
          }
          .dateinfo {
            p {
              color: #717171;
              text-transform: capitalize;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
        .eventTime {
          //   border: 2px solid;
          display: flex;
          align-items: center;
          width: 32%;
          background: #e7e7e7;
          padding-inline: 5px;
          padding-block: 9px;
          column-gap: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          background: rgb(253 246 254);
          color: #3e063dd4;
          border-radius: 4px;
          .icon {
            // border: 2px solid;
            border-radius: 50px;
            width: 45px;
            height: 46px;
            display: flex;
            font-size: 31px;
            align-items: center;
            justify-content: center;
            background: rgb(194 169 194 / 83%);
            color: rgba(62, 6, 61, 0.831372549);
          }
          .timeInfo {
            p {
              color: #717171;
              text-transform: capitalize;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
        .eventLocation {
          //   border: 2px solid;
          display: flex;
          align-items: center;
          width: 32%;
          background: #e7e7e7;
          padding-inline: 5px;
          padding-block: 9px;
          column-gap: 15px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          background: rgb(253 246 254);
          color: #3e063dd4;
          border-radius: 4px;

          .icon {
            border-radius: 50px;
            width: 45px;
            height: 46px;
            display: flex;
            font-size: 31px;
            align-items: center;
            justify-content: center;
            background: rgb(194 169 194 / 83%);
            color: rgba(62, 6, 61, 0.831372549);
          }
          .locationInfo {
            p {
              color: #717171;
              text-transform: capitalize;
              font-size: 16px;
              font-weight: 600;
            }
          }
        }
      }
      .RegisterSection {
        h2 {
          margin-bottom: 19px;
        }
        .registerinfo {
          display: flex;
          justify-content: space-between;
          column-gap: 1px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
            rgba(0, 0, 0, 0.23) 0px 3px 6px;
          background: rgb(253 246 254);
          color: #3e063dd4;

          .TicketType {
            // border: 2px solid;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
              rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            width: 34%;
            .header {
              border-bottom: 2px solid rgb(205 202 205);
              padding-block: 8px;
              padding-left: 11px;
              background: rgb(238 235 235);
              color: #3e063dd4;
              font-weight: 700;
              text-align: center;
            }
            .details {
              padding-block: 23px;
              padding-inline: 10px;
              font-size: 25px;
              font-weight: 600;
              text-align: center;
            }
          }
          .TicketQty {
            // border: 2px solid;
            box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
              rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
            width: 34%;
            .header {
              border-bottom: 2px solid rgb(205 202 205);
              padding-block: 8px;
              padding-left: 11px;
              text-align: center;
              background: rgb(238 235 235);
              color: #3e063dd4;
              font-weight: 700;
            }
            .details {
              display: flex;
              justify-content: center;
              align-items: center;
              height: 56%;
              //   border: 2px solid;
              .btn {
                box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
                  rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
                display: flex;
                width: 37%;
                justify-content: space-between;
                height: 5vh;
                align-items: center;
                border-radius: 10px;
                .minus {
                  border-left: 2px solid #f6f2f2;
                  width: 31px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #efecec;
                  height: 5vh;
                  font-size: 30px;
                  border-radius: 10px;
                  border-top-right-radius: 0px;
                  border-bottom-right-radius: 0px;
                  cursor: pointer;
                }
                .plus {
                  border-left: 2px solid #f6f2f2;
                  width: 31px;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  background-color: #efecec;
                  height: 5vh;
                  font-size: 28px;
                  border-top-right-radius: 10px;
                  border-bottom-right-radius: 10px;
                  cursor: pointer;
                }
              }
            }
          }
        }
        .TicketPrice {
          // border: 2px solid;
          box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
            rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
          width: 34%;
          .header {
            text-align: center;
            border-bottom: 2px solid rgb(205 202 205);
            padding-block: 8px;
            padding-left: 11px;
            background: rgb(238 235 235);
            color: #3e063dd4;
            font-weight: 700;
          }
          .details {
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56%;
            font-size: 20px;
            font-weight: 700;
          }
        }
      }
      .totalBill {
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
          rgba(0, 0, 0, 0.23) 0px 3px 6px;
        padding-block: 28px;
        background: #ececec;
        display: flex;
        justify-content: space-evenly;
        margin-top: 29px;
        background: rgb(253 246 254);
        color: #3e063dd4;
        border-radius: 7px;
        .total {
          font-size: 21px;
          display: flex;
          align-items: center;
          column-gap: 6px;
          font-weight: 600;
          span {
            display: flex;
            align-items: center;
            font-weight: 700;
          }
        }
        .paybutton {
          button {
            padding-block: 8px;
            padding-inline: 13px;
            border-radius: 7px;
            border: none;
            outline: none;
            background: rgb(242 207 248);
            color: #3e063dd4;
            font-weight: 700;
            cursor: pointer;
          }
        }
      }
    }
  }
  .rightContent {
    // border: 2px solid;
    margin-top: 50px;
    width: 29%;
    background: rgba(230, 230, 230, 0.3294117647);
    height: 503px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(253, 246, 254);
    color: #3e063dd4;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: 20px;
    border-radius: 6px;
    .seatNumber {
      border-bottom: 2px solid #e1e1e1;
      text-align: center;
      font-size: 21px;
      padding-bottom: 24px;
      text-transform: capitalize;
      font-weight: 600;
      span {
        font-weight: 700;
      }
    }
    .organizerDetails {
      .title {
        font-size: 20px;
        font-weight: 700;
        text-transform: capitalize;
        text-align: center;
        padding-block: 25px;
        color: rgba(62, 6, 61, 0.831372549);
        span {
          color: black;
          padding-inline: 10px;
        }
      }
      .place {
        display: flex;
        flex-direction: column;
        row-gap: 30px;
        border-bottom: 2px solid #e1e1e1;
        font-size: 21px;
        font-weight: 600;
        padding-bottom: 18px;
        padding-inline: 40px;

        .first,
        .second,
        .third {
          display: flex;
          column-gap: 10px;
          text-transform: capitalize;
          .icon {
            font-size: 26px;
            color: #8d1773;
          }
        }
      }
      .schedule {
        .showtime {
          font-size: 21px;
          font-weight: 600;
          padding-bottom: 18px;
          padding-inline: 40px;
          display: flex;
          align-items: center;
          column-gap: 10px;
          .icon {
            font-size: 33px;
            color: #8d1773;
          }
        }
      }
    }
  }
}
.detailspagefaq {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  margin-top: 21px;

  padding: 20px;
  .top {
    // border: 2px solid red;
    display: flex;
    flex-direction: column;
    margin-left: 58px;
    row-gap: 27px;

    .title {
      color: #3e063dd4;
      font-size: 34px;
      font-weight: 700;
    }
    .header {
      font-size: 18px;
      font-weight: 800;
      text-transform: capitalize;
      color: #8d8d8d;
    }
  }

  .allFaq {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    align-items: start;
    margin-left: 58px;
    .que_ans {
      // border: 2px solid;
      display: flex;
      flex-direction: column;
      align-items: start;
      .queModalOff {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        max-width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding-inline: 52px;
        padding-block: 15px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 40px;
        display: flex;
        column-gap: 21px;
        color: #570d47;
        cursor: pointer;
        .Icon {
          // border: 2px solid;
          font-size: 20px;
          border-radius: 50px;
        }
      }
      .queModalOn {
        box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px,
          rgba(0, 0, 0, 0.24) 0px 1px 2px;
        min-width: 43%;
        display: flex;
        column-gap: 21px;
        justify-content: space-between;
        align-items: start;
        padding-inline: 52px;
        padding-block: 15px;
        font-size: 16px;
        font-weight: 600;
        border-radius: 40px;
        color: #570d47;
        margin-bottom: 20px;
        cursor: pointer;
        .Icon {
          // border: 2px solid;
          font-size: 20px;
          border-radius: 50px;
        }
      }

      .ans {
        display: none;
      }
      .ans-active {
        max-width: 44%;
        padding-top: 10px;
        color: #570d47;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
      }
      .thirdfaq {
        max-width: 65%;
        padding-top: 10px;
        color: #570d47;
        font-size: 15px;
        font-weight: 700;
        text-align: center;
      }
    }
  }
}
