.nav {
  background: rgb(251, 234, 253);
  /* border-bottom: 1px solid #fff; */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #755195;
  padding-inline: 5px;
  padding-block: 6px;
  .logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
    font-weight: 800;
    column-gap: 14px;

    img {
      width: 34px;
    }
  }
  ul {
    display: flex;
    align-items: center;
    text-transform: capitalize;
    width: 64%;
    justify-content: space-evenly;

    li {
      font-size: 25px;
      font-weight: 600;
      display: flex;
      align-items: center;
      column-gap: 10px;

      cursor: pointer;
      img {
        width: 27px;
        padding-block: 6px;
      }
    }
  }
  button {
    background-image: linear-gradient(210deg, #9733ee 0%, #da22ff 100%);
    border-radius: 6px 6px 6px 6px;
    padding-inline: 30px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    font-size: 18px;
    height: 7vh;
  }
}
// box-shadow: 0px 50px 50px -15px rgba(129, 129, 129, 0.1);
