.Bookingform {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 220px;
  left: 101px;
  z-index: 6;
  padding: 20px;
  width: 67%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  background-color: rgb(253 237 254 / 80%);

  .header {
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    border-bottom: 2px solid #bebcbc;
    padding-bottom: 11px;

    .CrossIcon {
      font-size: 30px;
      cursor: pointer;
    }
  }
  .eventDetails {
    display: flex;
    justify-content: space-between;
    padding-block: 22px;
    column-gap: 27px;
    .left {
      //   border: 2px solid;
      display: flex;
      flex-direction: column;
      row-gap: 33px;
      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        column-gap: 6px;
        input {
          padding-block: 10px;
          outline: none;
          text-align: center;
          text-transform: capitalize;
          font-size: 17px;
          border: none;
          font-weight: 600;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
      }
    }
    .right {
      //   border: 2px solid;
      display: flex;
      flex-direction: column;
      row-gap: 33px;
      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        column-gap: 6px;
        input {
          padding-block: 10px;
          outline: none;
          text-align: center;
          text-transform: capitalize;
          font-size: 17px;
          border: none;
          font-weight: 600;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    padding-block: 17px;
    button {
      border: none;
      border-radius: 12px;
      padding-inline: 39px;
      width: 25%;
      padding-block: 10px;
      color: aliceblue;
      background: linear-gradient(156deg, #a551ee 32%, #da22ff 70%);
    }
  }
}
