.footerCon {
  background-image: url("../Images/footerImage.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  position: relative;
  display: flex;
  /* flex-direction: column; */
  justify-content: space-around;
  align-items: center;
  //    #DA22FF
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
  }
  .allbox {
    display: flex;
    justify-content: space-evenly;
    width: 100%;

    .firstBox {
      position: relative;
      z-index: 6;
      display: flex;
      flex-direction: column;

      height: 20vh;
      row-gap: 18px;
      .header {
        display: flex;
        img {
          width: 50px;
        }
        h2 {
          // color: #da22ff;
          color: aliceblue;
          font-size: 40px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 17px;

        .icon {
          color: #da22ff;
          font-size: 27px;
        }
        li {
          color: aliceblue;
          transition: all 0.3s;
          display: flex;
          column-gap: 19px;
          font-size: 19px;
          align-items: center;

          &:hover {
            cursor: pointer;
            color: #da22ff;
          }
        }
      }
    }
    .secondBox {
      z-index: 6;
      display: flex;
      flex-direction: column;

      height: 20vh;
      row-gap: 18px;
      .header {
        h3 {
          color: #da22ff;
          font-size: 25px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 17px;

        .icon {
          color: #da22ff;
          font-size: 27px;
        }
        li {
          color: aliceblue;
          transition: all 0.3s;
          display: flex;
          column-gap: 19px;
          font-size: 19px;
          align-items: center;

          &:hover {
            cursor: pointer;
            color: #da22ff;
          }
        }
      }
    }
    .thirdtBox {
      z-index: 6;
      display: flex;
      flex-direction: column;

      height: 20vh;
      row-gap: 18px;
      .header {
        h3 {
          color: #da22ff;
          font-size: 25px;
        }
      }
      ul {
        display: flex;
        flex-direction: column;
        row-gap: 17px;

        .icon {
          color: #da22ff;
          font-size: 27px;
        }
        li {
          color: aliceblue;
          transition: all 0.3s;
          display: flex;
          column-gap: 19px;
          font-size: 19px;
          align-items: center;

          &:hover {
            cursor: pointer;
            color: #da22ff;
          }
        }
      }
    }
    .fourthBox {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      z-index: 6;
      row-gap: 24px;
      button {
        background-image: linear-gradient(180deg, #cd9cd6 0%, #da22ff 100%);
        border: none;
        color: aliceblue;
        outline: nonr;
        /* padding-inline: 34px; */
        width: 100%;
        padding-block: 12px;
        border-radius: 5px;
        font-size: 17px;
      }
      ul {
        display: flex;
        column-gap: 26px;
        li {
          color: #da22ff;
          font-size: 30px;
        }
      }
    }
  }
}
