* {
}
.adminForm {
  padding: 20px;
  width: 100%;
  border-radius: 10px;
  -webkit-backdrop-filter: blur(10px);
  /* backdrop-filter: blur(10px); */

  background-color: rgb(253 226 255 / 51%);
  .header {
    padding-inline: 30px;
    //
    padding-bottom: 11px;
    .title {
      h1 {
        text-align: center;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          top: 40px;
          left: 39%;
          width: 20%;
          border: 1.6px solid #e874ff;
          border-radius: 2px;
        }
        &::after {
          content: "";
          position: absolute;
          bottom: 0px;
          left: 39%;
          width: 20%;
          border: 1.6px solid #e874ff;
          border-radius: 2px;
        }
      }
    }
    .CrossIcon {
      font-size: 30px;
      cursor: pointer;
    }
  }
  .eventDetails {
    display: flex;
    justify-content: space-evenly;
    padding-block: 22px;
    .left {
      //   border: 2px solid;
      display: flex;
      flex-direction: column;
      row-gap: 33px;
      label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 18px;
        font-weight: 700;
        column-gap: 6px;
        input {
          padding-block: 10px;
          outline: none;
          text-align: center;
          text-transform: capitalize;
          font-size: 17px;
          border: none;
          font-weight: 600;
          border-radius: 10px;

          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
      }
    }
    .right {
      //   border: 2px solid;
      display: flex;
      flex-direction: column;
      row-gap: 33px;
      label {
        display: flex;

        align-items: center;
        font-size: 18px;
        font-weight: 700;
        column-gap: 33px;
        input {
          padding-block: 10px;
          outline: none;
          text-align: center;
          text-transform: capitalize;
          font-size: 17px;
          border: none;
          font-weight: 600;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
        }
        select {
          padding-block: 5px;
          outline: none;
          text-align: center;
          text-transform: capitalize;
          font-size: 17px;
          border: none;
          font-weight: 600;
          border-radius: 10px;
          box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
            rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
          width: 42%;
          text-align: start;
        }
      }
      .file {
        input {
          box-shadow: none;
          border: none;
        }
      }
    }
  }
  .btn {
    display: flex;
    justify-content: center;
    padding-block: 17px;
    button {
      border: none;
      border-radius: 6px;
      width: 19%;
      padding-block: 6px;
      color: aliceblue;
      background: linear-gradient(156deg, #a551ee 32%, #da22ff 70%);
      font-size: 23px;
    }
  }
}
