.musicEvent {
  .categoryTitle {
    background-image: url("../../Images/eventDetailsTitleBanner.jpg");
    height: 52vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    position: relative;
    h1 {
      color: #d4d4d4;
      /* position: relative; */
      z-index: 3;
      display: flex;
      align-items: center;
      justify-content: center;
      text-transform: uppercase;
      height: 100%;
      font-size: 40px;
      position: absolute;
      left: 259px;
      top: 25px;
    }
    &::after {
      content: "";

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(41deg, #a238ff 32%, #da22ff 70%);
      opacity: 0.7;
    }
  }
  .allMusicEventcards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 26px;
    width: 90%;
    margin: auto;
    padding-block: 60px;
    padding-inline: 20px;
    .title {
    }
    .card {
      box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px,
        rgba(0, 0, 0, 0.23) 0px 3px 6px;
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      padding-bottom: 20px;
      background: rgb(253 246 254);
      color: #8d1773;
      font-weight: 600;
      transition: all 1s;
      height: 100%;
      overflow: hidden;
      border-top-left-radius: 7px;
      border-top-right-radius: 7px;
      border-bottom-left-radius: 7px;
      border-bottom-right-radius: 7px;
      .imagesection {
        position: relative;
        // border: 2px solid red;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        img {
          width: 100%;
          border-top-left-radius: 7px;
          border-top-right-radius: 7px;
          transition: all 0.5s;
          &:hover {
            // width: 90%;
            transform: scale(1.1);
            cursor: pointer;
            border-radius: 10px;
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
          }
        }

        .date {
          position: absolute;
          top: 5px;
          left: 5px;

          ul {
            li {
              padding-inline: 10px;
              &:first-child {
                color: #000000bf;
                background: #dfccef;
                text-align: center;
              }
              &:last-child {
                color: aliceblue;
                background: rgb(253 236 255);
                color: #8d1773;
                font-weight: 600;
                text-transform: uppercase;
              }
            }
          }
        }
      }
      .title_Price {
        //   border: 2px solid;
        position: relative;
        padding-inline: 25px;

        &::before {
          content: "";
          position: absolute;
          border: 2px solid rgb(108 8 116 / 62%);
          height: 50px;
          left: 10px;
        }
        .title {
          text-align: left;
          padding-bottom: 10px;
        }
        .price {
          color: brown;
          span {
            display: flex;
            align-items: center;
            color: #8d1773;
          }
        }
      }
      .location {
        display: flex;
        align-items: center;
        padding-inline: 20px;

        span {
          padding-left: 13px;

          color: #8d1773;
        }
      }
      .timming {
        display: flex;
        align-items: center;
        padding-inline: 20px;
        color: brown;
        text-transform: capitalize;
        .cal {
          color: #8d1773;
        }
        span {
          padding-left: 10px;
          color: #8d1773;
        }
      }
    }
  }
}
